div.tabbed-menu {
    font-family:"Courier New", Courier, monospace;
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
}


ul.tabs {
    text-align: center;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 26px;
    color: black; 
    border-bottom: 1px solid #DDDDDD;
}


ul.tabs li {
    margin-bottom: -1px;
    padding: 3px 10px 0 10px;
    border: 1px solid #DDDDDD;
    background: #ccd; 
    
    
    display: inline-block;
    
    
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

ul.tabs li.selected {
    background: #ccc;
    border-bottom-color: transparent;
}

ul.tabs li:hover {
    color: #333333;
    cursor: pointer;
    background: #FFFFFF;
}


div.page {
    text-align: center;
}

div.page li {
    text-align: left;
    list-style-type: none;
}

#menu {
  position: fixed;
  left: 0;
  top: 50%;
  width: 10em;
  margin-top: -2.5em;
  background:orange;
  opacity: 0.5;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  text-align: left;
  list-style-type:none;
}

#menu a{
	padding:5px;
    color:white;
    text-decoration: none;
    text-align: left;
   }
#menu p{
    padding:5px;
}

#menu .listen{
    text-decoration: none;
    list-style-type: none;
}